*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    

}
.heading{
    /* border:  1px solid black; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin:20px 50px;
}

.logo1{
    height: 50px;

}

.sign-in{
    /* border: 1px solid black; */
    display: flex;
    justify-content: center;
}

.register{
    /* border: 1px solid red; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
.inf{
    text-align: center;
    margin: 30px;
    width: 450px;
}
.inf h1{
    font-weight: 700px;
    font-size: 36px;

}
.inf p{
    margin: 20px;
    font-size: 18px;
    color: #939393;
}

.entries{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px;
}

.entries input{
    padding: 15px;
    margin: 15px;
    width: 350px;
}

.entries input[type =text], .entries input[type = email]{
    outline: none;
    border: 1px solid #004AAD45;
    border-radius: 10px;
    background-color: #F5FAFF;
    font-size: 16px;
    /* color: #004aad; */
}
::placeholder{
    color: #004aad  ;
}
.reg-btn{
    width: 350px;
    padding: 15px;
    background-color: #004aad;
    border: none;
    outline: none;
    color: white;
    font-weight: bold;
    margin: 50px;
    border-radius: 15px;
    cursor: pointer;
}


/* __________________SET UP YOUR ACCOUNT STYLING_________________________ */

.set-up{
    /* border: 1px solid ; */
    box-shadow: 0px 12px 50px 0px #EAEEFD26, 
                7px 0px 16px 0px #C3C2C214,
                -12px 0px 22px 0px #C3C2C221;    
 

display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
margin: 50px;

}
.sp-entries{
display: flex;
flex-direction: column;
align-items: center;
padding: 30px;
}
.pass-case{
border: 1px solid black;
padding: 15px;
width: 350px;
border-radius: 10px;
margin: 15px;
border: 1px solid #004AAD45;
background-color: #F5FAFF;
display: flex;
align-items: center;


}

.pass-case input[type = password]{
 border: none;
 outline: none;
 width: 300px;
 font-size: 15px;
 background-color: #F5FAFF;
 /* color: #004aad; */
 


}


/* ____________________________ DASHBOARD LOGIN PAGE________________ */
.mainspace{
 /* background-image: url(./w-img/Rectangle\ 1125.png); */
 height: 100vh;
 background-size: cover;
 background-position: left;
 display: flex;
}

.banner1{
 width: 100%;
 background-image: url(./w-img/Rectangle\ 1125.png);
 background-size: cover;
 background-position: bottom;

}
.logo-lg{
margin: 30px;
height: 50px;
}
.login-1{
 /* border: 1px solid black; */
 display: flex;
 justify-content:center;
 align-items: center;
 width: 100%;
}

.log_case{
 /* border: 1px solid black; */
}

.log-ctnt{
 /* border: 1px solid black; */
 margin: 50px 15px;
}

.log-ctnt h1{
 color: #022554;
 font-weight: bolder;
 font-size: 24px;
}

.log-ctnt p{
 color: #939393;
}

.lg-form{
 margin: 50px 0px;
 padding: 20px 0px;
 /* border: 1px solid black; */
}

.mail-log{
/* border: 1px solid black; */
padding: 15px;
width: 400px;
border-radius: 10px;
margin: 15px;
border: 1px solid #004AAD45;
background-color: #F5FAFF;
display: flex;
align-items: center;
}
.pass-log{
/* border: 1px solid black; */
padding: 15px;
width: 400px;
border-radius: 10px;
margin: 15px;
border: 1px solid #004AAD45;
background-color: #F5FAFF;
display: flex;
align-items: center;
}

.mail-log input[type= email]{
border: none;
outline: none;
width: 350px;
font-size: 15px;
background-color: #F5FAFF;
/* color: #004aad; */

}
.pass-log input[type= password]{
border: none;
outline: none;
width: 100%;
font-size: 15px;
background-color: #F5FAFF;
}
.forget{
 /* border: 1px solid black; */
 margin: 15px;
 text-align: right;
}
.forget a{
color: #00C31F;
text-decoration: none;
}

.login-btn{
width: 400px;
padding: 15px;
background-color: #004aad;
border: none;
outline: none;
color: white;
font-weight: bold;
/* margin: 50px; */
border-radius: 10px; 
margin: 20px 20px;
}




/*_____________________THE DASHBOARD ________________________*/

.dsh{
    /* border:1px solid black; */
    padding: 30px 50px;
    }
    
.dsh nav{
display:flex;
justify-content:space-between;
align-items:center;
/* border:1px solid red; */

    
}

.cs-logo{
display:flex;
justify-content:space-between;
align-items:center;
width:100%;
/* border: 1px solid black; */
}

.menu{
  /* border:1px solid black; */
  display: none;
}
.bar{
    height:3px;
    width:30px;
    margin:5px 0px;
    background-color:#004aad;
    
}

.hd-nav ul{
    display:flex;
    align-items: center;
    justify-content: space-between;
    width:400px;
/*   margin:0px 20px; */
}

.hd-nav ul li{
list-style:none;
margin:0px 15px 
}

.hd-nav ul li a{
text-decoration:none;

}

.hd-nav ul .dg-a a{
    color: #004aad;
    font-weight: bold;
}

.hd-nav ul .dg-b a{
    color: #C3C2C2;
    font-weight: bold;
}


.hd-nav ul .dg-c a{
    color: white;
    font-weight: bold;
    background-color: #004aad;
    padding: 10px 25px;
    border-radius: 5px;
    
}
    
    
     

.wlcm{
    /* border: 1px solid black; */
    margin: 50px 100px;
    padding:50px 100px;
    position: relative;
    background-color: #EAEEFD;
    border-radius: 10px;
   

}

.pane{
    /* border: 1px solid black; */
    /* border: 1px solid black; */ 
    display: flex;
    flex-direction: column;
    align-items:flex-start;
    justify-content: flex-start;
    
}
.pane h1{
    color: #00214E;
    font-weight: bold;
    font-size: 30px;
    margin: 30px 0px;
}
.pane p{
    color: #939393;
}

.pane p span{
    color: red;
    font-weight: bold;
}

.wlt{
    margin: 50px 0px;
    /* border: 1px solid black; */
    background-color: #004aad;
    padding: 10px 25px;
    border-radius: 10px;
   
    
}
.wlt a{
    text-decoration: none;
    color: white;
    font-weight: bold;

}

.wlcm img {
    height: 450px;
    position: absolute;
    top: 20px;
    right: 50px;

}





/* media Query */

@media screen and (max-width:500px) {
    .heading{
        /* border:  1px solid black; */
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin:20px;
    }

    .inf{
        text-align: center;
        /* border: 1px solid black; */
        width: 100%;
        margin-top: 50px;
        width: 100%;
    }

    .inf h1{
        font-weight: 700px;
        font-size: 36px;
    
    }
    .inf p{
        /* margin: 20px; */
        color: #939393;
    }

    .entries{
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 30px 20px;
        /* border: 1px solid black; */
        width: 100%;
        
    }
    
    .entries input{
        padding: 15px;
        margin:15px 5px;
        width: 100%;
    }
    
    .entries input[type =text], .entries input[type = email]{
        outline: none;
        border: 1px solid #004AAD45;
        border-radius: 10px;
        background-color: #F5FAFF;
    }
    .reg-btn{
        width: 100%;
        padding: 15px;
        background-color: #004aad;
        border: none;
        outline: none;
        color: white;
        font-weight: bold;
        margin: 50px 0px;
        border-radius: 15px;
    }

    /* Media query for the setup page */
    .set-up{
        /* border: 1px solid black; */
        width: 100%;
        margin: 50px 10px;

    }

    .sp-entries{
        width: 100%;
        padding: 20px;
    }

    .pass-case{
        width: 100%;

    }

    .pass-case input[type = password]{
        width: 100%;
    }

   
}
    /* dashboard MEDIA QUERY FOR SCREEN SIZES OVER 500 and below*/
@media screen and (max-width:400px) {
     /* dashboard media query */

     .dsh{
        padding:20px 20px;
        /* border: 1px solid black; */
        
    }
    .dsh nav{
        margin: 0px;
        /* border: 1px solid black; */
    }
    
    
    .menu{
        display: block;
    }

    .hd-nav{
        display: none ;
        /* border: 1px solid black; */
    
    }

    .wlcm{
        /* border: 1px solid black; */
        margin: 20px 20px;
        padding:50px 20px;
        position: relative;
        background-color: #EAEEFD;
        border-radius: 10px;
        z-index: -1;
        /* text-align: center; */

        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
       
    
    }

    .pane{
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
    .wlcm h1{
        margin: 20px 0px;
        font-size: 24px;
        font-weight: bolder;
    }
    .wlcm p{
        font-size: 16px;
    }
    .wlcm img {
        height: 150px;
        /* display: none; */
        position: relative;
        left: 5px;
    
    }
}


@media screen and (min-width:401px) and (max-width:600px) {
    .dsh{
        padding:20px 20px;
        /* border: 1px solid black; */
        
    }
    .dsh nav{
        margin: 0px;
        /* border: 1px solid black; */
    }
    
    
    .menu{
        display: block;
    }

    .hd-nav{
        display: none ;
        /* border: 1px solid black; */
    
    }

    .wlcm{
        /* border: 1px solid black; */
        margin: 50px 20px;
        padding:50px 20px;
        position: relative;
        background-color: #EAEEFD;
        border-radius: 10px;
        z-index: -1;
       
    
    }

    .wlcm h1{
        margin: 10px 0px;
        font-size: 36px;
        font-weight: bolder;
    }
    .wlcm p{
        font-size: 16px;
    }
    .wlcm img {
        height: 200px;
        position: absolute;
        top: 170px;
        right: -20px;
        z-index: -1;
    
    }

}

/* third Media Query for the dashboard */
@media screen and (min-width:601px)  and (max-width:900px){
    .dsh{
        padding:30px 50px;
        /* border: 1px solid black; */
        
    }
    .dsh nav{
        margin: 0px;
        /* border: 1px solid black; */
    }
    
    
    .menu{
        /* display: block; */
    }

    .hd-nav{
        display: block ;
        /* border: 1px solid black; */
    
    }

    .wlcm{
        /* border: 1px solid black; */
        margin: 50px 50px;
        padding:50px 20px;
        position: relative;
        background-color: #EAEEFD;
        border-radius: 10px;
        z-index: -1;
       
    
    }

    .wlcm h1{
        margin: 10px 0px;
        font-size: 36px;
        font-weight: bolder;
    }
    .wlcm p{
        font-size: 16px;
    }

    .wlcm img {
       height: 250px;
       position: absolute;
       top: 120px;
       right: -20px;
       z-index: -1;
    
    }
}

/* final media query */
@media screen and (min-width:901px)  and (max-width:1300px){
    .dsh{
        padding:30px 50px;
        /* border: 1px solid black; */
        
    }
    .dsh nav{
        margin: 0px;
        /* border: 1px solid black; */
    }
    
    
    .menu{
        /* display: block; */
    }

    .hd-nav{
        display: block ;
        /* border: 1px solid black; */
    
    }

    .wlcm{
        /* border: 1px solid black; */
        margin: 50px 50px;
        padding:50px 30px;
        position: relative;
        background-color: #EAEEFD;
        border-radius: 10px;
        z-index: -1;
       
    
    }

    .wlcm h1{
        margin: 10px 0px;
        font-size: 36px;
        font-weight: bolder;
    }
    .wlcm p{
        font-size: 18px;
    }

    .wlcm img {
       height: 350px;
       position: absolute;
       top: 50px;
       right: 0px;
       z-index: -1;
    
    }
}

   



    


 